<!DOCTYPE html>
<html>
  <head>
    <title>NoFish</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/semantic-ui/semantic.css">
    <!--STYLES END-->
    <script type="text/javascript">
      window.SAILS_LOCALS = {
        _csrf: '<%= _csrf %>',
        me: <%- JSON.stringify(me) %>
      };
    </script>
  </head>

  <body ng-app="DashboardModule" ng-controller="DashboardController" ng-cloak >

    <div class="dashboard-menu ui menu inverted">
      <a class="item">
        <i class="content icon"></i> 
      </a>
      <span class="item">
        LeanBnB
      </span>
      <a class="logout item" href="/session/destroy">
        <i class="sign out icon"></i>
        logout
      </a>
    </div>

    <%- body %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular-1.3.js"></script>
    <script src="/js/dependencies/jquery-2.1.3.js"></script>
    <script src="/js/public/MainModule.js"></script>
    <script src="/js/private/DashboardModule.js"></script>
    <script src="/js/private/DashboardController.js"></script>
    <script src="/js/public/MainController.js"></script>
    <script src="/js/script.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
