<div class="grid-toolbar">
	<button ng-click="addReservation()" class="ui icon button">
		<i class="green add circle icon"></i>
		Add Reservation
	</button>
</div>
<div ui-grid="{ data: reservationsData }" class="reservations-grid"></div>

 <modal ng-model="show_modal">
    <i class="close icon" ng-click="close_modal()"></i>
    <div class="header">
      Add New Reservation
    </div>
      
    <form ng-submit="submitReservationForm()" class="reservation-form ui form">
			<div>
				<label >Reservation Source:</label>
				<input ng-model="reservationForm.reservation_source" type="text" name="source"/>
			</div>
			<div>
				<label >Guest Name:</label>
				<input ng-model="reservationForm.guest_name" type="text" name="guest_name"/>
			</div>
			<div>
				<label >Property Name:</label>
				<input ng-model="reservationForm.property_name" type="text" name="property_name"/>
			</div>
			<div>
				<label >Bed ID:</label>
				<input ng-model="reservationForm.bed_id" type="text" name="bed_id"/>
			</div>
			<div>
				<label >Key Code:</label>
				<input ng-model="reservationForm.key_code" type="text" name="key_code"/>
			</div>
			<div>
				<label >Check In:</label>
				<input ng-model="reservationForm.check_in" type="text" name="check_in"/>
			</div>
			<div>
				<label >Check Out:</label>
				<input ng-model="reservationForm.check_out" type="text" name="check_out"/>
			</div>
			<div>
				<label >Price:</label>
				<input ng-model="reservationForm.total_price" type="text" name="total_price"/>
			</div>

			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		    <input type="submit" class="ui positive right button" value="Add"/>
   	</form>
</modal>